$Scissors-Gradient: hsl(39, 89%, 49%) , hsl(40, 84%, 53%);
$Paper-Gradient:  hsl(230, 89%, 62%) , hsl(230, 89%, 65%);
$Rock-Gradient: hsl(349, 71%, 52%) , hsl(349, 70%, 56%);
$Lizard-Gradient: hsl(261, 73%, 60%) , hsl(261, 72%, 63%);
$Cyan: hsl(189, 59%, 53%) , hsl(189, 58%, 57%);



$Dark : hsl(229, 25%, 31%);
$Score : hsl(229, 64%, 46%);
$Header : hsl(217, 16%, 45%);
$Red :hsl(349, 71%, 52%);

$Radial-Gradient: hsl(214, 47%, 23%) , hsl(237, 49%, 15%)