@use "./colors" as *;
@use "./mediaSize" as *;

@mixin style($width: 198px, $height: 198px) {
  width: $width;
  height: $height;
  border-radius: 50%;
  border-bottom: 10px solid hsl(0, 0, 0%, 0.25);
  z-index: 10;
  &:hover {
    outline: 20px solid hsla(0, 0, 100%, 0.1);
    cursor: pointer;
  }
}


@mixin advanced {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  border-bottom: 10px solid hsl(0, 0, 0%, 0.25);
  z-index: 10;
  &:hover {
    outline: 20px solid hsla(0, 0, 100%, 0.1);
    cursor: pointer;
  }
}
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  @include flex();
  position: relative;
  transform: translate(0%, 50%);
  .triangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.advanced-game {
  @include flex();
  position: relative;
  transform: translate(0%, 100%);
  width: 472px;
  margin: auto;
  .triangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.paper {
  @include style();
  @include flex();
  position: relative;
  background-image: linear-gradient(180deg, $Paper-Gradient);
  transform: translate(25%, -52%);
}
.advanced-paper {
  @include advanced();
  @include flex();
  position: absolute;
  background-image: linear-gradient(180deg, $Paper-Gradient);
  right: 0;
  transform: translate(0%, -22%);
}
.rock {
  @include style();
  @include flex();
  transform: translate(0, 45%);
  background-image: linear-gradient(180deg, $Rock-Gradient);
}
.advanced-rock {
  @include advanced();
  @include flex();
  position: absolute;
  bottom: 0;
  right: 10%;
  transform: translate(0, 100%);
  background-image: linear-gradient(180deg, $Rock-Gradient);
}
.scissors {
  @include style();
  @include flex();
  transform: translate(-25%, -52%);
  background-image: linear-gradient(180deg, $Scissors-Gradient);
}
.advanced-scissors {
  @include advanced();
  @include flex();
  background-image: linear-gradient(180deg, $Scissors-Gradient);
  transform: translate(0%, -100%);
}

.advanced-lizard {
  @include advanced();
  @include flex();
  position: absolute;
  bottom: 0;
  left: 10%;
  transform: translate(0, 100%);
  background-image: linear-gradient(180deg, $Lizard-Gradient);
}
.advanced-spock {
  @include advanced();
  @include flex();
  position: absolute;
  background-image: linear-gradient(180deg, $Cyan);
  left: 0;
  transform: translate(0%, -22%);
}
@mixin choice {
  border-radius: 50%;
  background-color: white;
  border-top: 10px solid hsl(0, 0, 0%, 0.1);
}
.advanced-choice {
  @include flex();
  @include choice();
  width: 111px;
  height: 111px;
}
.choice {
  @include choice();
  @include flex();
  width: 150px;
  height: 150px;
}
@media screen and (max-width: $small) {
  .paper {
    @include style(125px,125px);
  }
  .rock {
    @include style(125px,125px);
  }
  .scissors {
    @include style(125px,125px);    
  }
  .choice {
    width: 90px;
    height: 90px;
  }
}
