@use './colors' as *;
@use './mediaSize.scss' as *;
header{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 50%;
    padding: 18px;
    margin: 48px auto;
    border: 4px solid  $Header;
    border-radius: 15px;
    .score{
        background-color: #f3f3f3;
        width: 150px;
        height: 114px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        font-size: 64px;
        font-weight: bold;
        color: $Dark;
       
        span{
            font-size: 16px;
            font-weight: 500;
            color: $Score;
            letter-spacing: 2.5px;
            position: relative;
            transform: translate(0,50%);
        }
    }
    
}

@media screen and (max-width:$small) {
    header{
        width: 100%;
    }
}